.vscode
bill-app/Billed-app-FR-Back/node_modules/
bill-app/Billed-app-FR-Back/coverage/
bill-app/Billed-app-FR-Back/database_test.sqlite
bill-app/Billed-app-FR-Front/node_modules
bill-app/Billed-app-FR-Front/coverage
bill-app/Billed-app-FR-Front/.idea
.prettierrc
.eslintrc
